src/main/resources/schema/XSchema.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ABCOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="message"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="data-items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="employee_name">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Tiger Nixon"/>
                          <xs:enumeration value="Tiger "/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="employee_salary">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:enumeration value="320800"/>
                          <xs:enumeration value="32"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="employee_age">
                      <xs:simpleType>
                        <xs:restriction base="xs:short">
                          <xs:enumeration value="61"/>
                          <xs:enumeration value="611"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="profile_image"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>